
Debug/timeseries.pdb
Debug/timeseries.pyd
Debug/timeseries.pdb
Debug/timeseries.ilk
.vs/Trending_Modules/v15/Solution.VC.db-wal
.vs/Trending_Modules/v15/Solution.VC.db-shm
.vs/Trending_Modules/v15/ipch/AutoPCH/386d9c588db57ac4/MODULE.ipch
.vs/Trending_Modules/v15/Browse.VC.opendb
.vs/Trending_Modules/v15/Browse.VC.db
.vs/Trending_Modules/v15/.suo
.vs/Trending_Modules/v15/ipch/AutoPCH/386d9c588db57ac4/MODULE.ipch
Debug/timeseries.ilk
Debug/timeseries.pdb
Debug/timeseries.pyd
timeseries/build/lib.win-amd64-2.7/timeseries.pyd
Debug/
Release/
timeseries/Debug/
Trending_Modules/
tests/venv/
x64/
.vs/
Python37/
UnitTestExpletics/x64
